/nbproject/private/
/logs/
/test/
/testing/
/editoffer.php
/aoc_offers.php
/exArtOfClick.php
/aoc_offersbkp.php
/cronArtOfclick.php
/jungletap_offers.php
/sam_aoc_offers_u.php
/handlemulticurl.php
/info.php
/sam_aoc_offers.php
/aoc_offers_getoffer.php
/cronTest.php
/affise_example.php
/multicurl.php
/multicurl2.php